#freetourspage{
  --ion-background-color: #EEB534;
}
#tourslist{
  margin-top: 20%;
}
#spanish{
  background-color: #f2f2f2;
  text-align: center;
  --color: #000000;
  --ripple-color:#777777;
  text-emphasis-color: #eb445a;
  shape-margin: round(60);

}

#english{
  background-color: #f2f2f2;
  text-align: center;
  --color: #000000;
  --ripple-color:#777777;
  text-emphasis-color: #eb445a;
  shape-margin: round(60);
}
