<ion-header>
  <ion-toolbar>
    <ion-title>FreeTours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="freetourspage">
  <img src="./assets/icon/FREETOURSLOGO.png" style="display: block; width: 80%; height: auto; margin-top: 25%; margin-left: 8%;">
  <ion-list id="tourslist">
    <ion-button id="spanish"
                class="button button-stable button-large"
                fill="solid" expand="block" color="red"
                href="https://www.neweuropetours.eu/es/tours-en-jerusalen/">Spanish Walking Tours</ion-button>
    <ion-button id="english"
                class="button button-stable button-large"
                fill="solid" expand="block" color="red"
                href="https://www.neweuropetours.eu/jerusalem-walking-tours/">English Walking Tour</ion-button>
  </ion-list>
</ion-content>
