<ion-header>
  <ion-toolbar>
    <ion-title>maps</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
</ion-header>
<div style="margin: 15px 10px 10px 15px;">
  <label for="latitude">Name : </label>
  <input id="target_pos" type="text" [(ngModel)]="target_pos" placeholder="City">
  <input type="button" (click)="navigation()" value="Search" />
</div>
<ion-content id="mapsPage">
  <div id="mapId">
    <ion-img id="accessible"></ion-img>
  </div>
</ion-content>