#attractionsPage{
  --ion-background-color: #EEB534;
}
#attractionImg{
  margin-top: 5%;
  width: 100%;
  length:50%;
}
#attractionsList{
  --ion-background-color: #FFF5EE;
}
#name{
  --color: #6A5ACD;
}
#number{
  --color : blue;
}
