<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="welcome"[fullscreen]="true">
  <img src="./assets/icon/4jZMujkRIW2PhQ5HHeAj_ABCD.png" style="display: block; width: 20%; height: auto; margin-left: auto;">
  <ion-list id="menu">
    <ion-button id="maps" class="button button-stable button-large" fill="solid" expand="block" color="red" routerLink="/maps">Maps</ion-button>
    <ion-button id="getGuide" class="button button-stable button-large" fill="solid" expand="block" color="red" routerLink="/guides-list">Get Guide</ion-button>
    <ion-button id="freeTours" class="button button-stable button-large" fill="solid" expand="block" color="red" routerLink="/free-tours">Free Tours</ion-button>
    <ion-button id="createGroup" class="button button-stable button-large" fill="solid" expand="block" color="red" routerLink="/create">Create Group</ion-button>
    <ion-button id="attractions" class="button button-stable button-large" fill="solid" expand="block" color="red" routerLink="/about-city">Attractions</ion-button>
    <ion-button id="carRental" class="button button-stable button-large" fill="solid" expand="block" color="red" routerLink="/cars">Car Rental</ion-button>
  </ion-list>
</ion-content>
