<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="profilePage">

    <ion-toggle></ion-toggle>
    <div id="mypic">
        <img id="p1"  src="https://cdn.fastly.picmonkey.com/contentful/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=1200&h=992&q=70&fm=webp">
    </div>
    <div >
        <h1 id="name">user name </h1>
        <p>add languages and allow guides to change them</p>
    </div>
</ion-content>
